@font-face {
    font-family: "OngleleafBuhungHyunsu";
    font-weight: 300;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/wefonts/OngleleafBuhungHyunsu/OngleleafBuhungHyunsu.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/wefonts/OngleleafBuhungHyunsu/OngleleafBuhungHyunsu.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/wefonts/OngleleafBuhungHyunsu/OngleleafBuhungHyunsu.ttf") format("truetype");
    font-display: swap;
}

.OngleleafBuhungHyunsu {
    font-family: "OngleleafBuhungHyunsu";
}
